@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    
   <p><h1 class="display-4">Bienvenido Centros comerciales</h1> </p>

<div class="card-group">
  <div class="card">
    <img class="card-img-top" src="https://pruebadescortes.s3.amazonaws.com/Captura+de+pantalla+2022-11-25+233225Portal80.png" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">cENTRO COMERCIAL PORTAL 80</h5>
      <p class="card-text"></p>
        <button class="btn btn-primary" onclick="location.href ='/Centroscomerciales/CentrocomercialView?change=1'">Ver tiendas</button>
    </div>
  </div>
  <div class="card">
    <img class="card-img-top" src="https://pruebadescortes.s3.amazonaws.com/Captura+de+pantalla+2022-11-25+224949centrocomercialuno.png" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">CENTRO COMERCIAL ANDINO</h5>
      <p class="card-text">VARIEDAD DE TIENDAS A TU ALCANCE.</p>
      <button class="btn btn-primary" onclick="location.href ='/Centroscomerciales/CentrocomercialView?change=2'">Ver tiendas</button>
    </div>
  </div>
  <div class="card">
    <img class="card-img-top" src="https://pruebadescortes.s3.amazonaws.com/Captura+de+pantalla+2022-11-25+233644Parquelacolina.png" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">CENTRO COMERCIAL PARQUE LA COLINA</h5>
      <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
      <button class="btn btn-primary"onclick="location.href ='/Centroscomerciales/CentrocomercialView?change=3'">Ver tiendas</button>
    </div>
  </div>
</div>

</div>
